<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Side Project Hub - 註冊</title>
    <link rel="stylesheet" href="../../static/css/login/login.css">
</head>
<body>

    <div class="login-container">
        <img src="../static/images/logo.png" id="logo">
        <h1>註冊</h1>

        <!-- 顯示提示訊息的區域 -->

        {% if info_message %}
           <p style="color: red">  {{ info_message }}</p>
        {% endif %}


        <form method="POST">
            {% csrf_token %}
            <input type="text" id="username" name="account" placeholder="帳號" required>
            <input type="password" id="password" name="password" placeholder="密碼" required>
            <input type="password" id="confirmPassword" placeholder="確認密碼" required>
            <span id="error-message" class="error-message" style="display: none;">與輸入密碼不一致</span>
            <button type="submit" id="registerButton" disabled>註冊</button>
        </form>

        <div class="footer">
            <p>已經有帳號？<a href="login">登入</a></p>
        </div>
    </div>

    <script>
        const passwordInput = document.getElementById('password');
        const confirmPasswordInput = document.getElementById('confirmPassword');
        const errorMessage = document.getElementById('error-message');
        const registerButton = document.getElementById('registerButton');

        // 當密碼或確認密碼輸入欄改變時，檢查是否匹配
        confirmPasswordInput.addEventListener('input', function() {
            // 如果密碼與確認密碼不一致
            if (this.value !== passwordInput.value) {
                errorMessage.style.display = 'block'; // 顯示錯誤訊息
                registerButton.disabled = true; // 禁用註冊按鈕
            } else {
                errorMessage.style.display = 'none'; // 隱藏錯誤訊息
                registerButton.disabled = false; // 啟用註冊按鈕
            }
        });

        passwordInput.addEventListener('input', function() {
            // 同時檢查密碼輸入是否匹配
            if (confirmPasswordInput.value !== this.value) {
                errorMessage.style.display = 'block'; // 顯示錯誤訊息
                registerButton.disabled = true; // 禁用註冊按鈕
            } else {
                errorMessage.style.display = 'none'; // 隱藏錯誤訊息
                registerButton.disabled = false; // 啟用註冊按鈕
            }
        });

        // 點擊 Logo 跳轉到首頁
        const logo = document.getElementById('logo');
        logo.addEventListener('click', function () {
             window.location.assign('../index');
        }, true);
    </script>
</body>
</html>